.button {
  width: 152px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 17px 26px;
  border: $active-color solid 3px;
  border-radius: 0.25em;
  color: $active-color;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: $active-color;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}
