.container {
  padding: 0 15px 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 320px) {
    width: 320px;
  }
  @media screen and (max-width: $max-mobile) {
    min-width: 310px;
  }

  @media screen and (min-width: $tablet) {
    width: 734px;
  }
  @media screen and (min-width: $desktop) {
    width: 1320px;
  }
}
